#backpane {
    background-color: rgb(237, 248, 250);
    padding-top: 20px;
    padding-bottom: 20px;
}
#divtitle {
    background-color: rgb(40, 182, 151);
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
 }
 #divsala {
    background-color: rgb(10, 225, 233);
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
 }