<div class="container" style="padding:'20px">
    <div  class="row text-center">
      <div  class="col-md-12">
        <div id="divtitle" class="content"><h1>Sala001</h1></div>
      </div>
    </div>
</div>

<div class="container" style="padding:'20px">
    <div  class="row text-center">
      <div  class="col-md-12">
        <div id="divtitle" class="content"><h1>Histórico da Temperatura</h1></div>
      </div>
    </div>
</div>

<div class="container" style="padding:'10px">
    <div  class="row text-center">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                    <div style="display: block;">
                    <canvas baseChart width="700" height="500"
                                [datasets]="lineChart1Data"
                                [labels]="lineChart1Labels"
                                [options]="lineChart1Options"
                                [colors]="lineChart1Colors"
                                [legend]="lineChart1Legend"
                                [chartType]="lineChart1Type"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)" #chart1></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding:'20px">
    <div  class="row text-center">
      <div  class="col-md-12">
        <div id="divtitle" class="content"><h1>Consumo dos Condicionadores</h1></div>
      </div>
    </div>
</div>

<div class="container" style="padding:'10px">
    <div  class="row text-center">
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                    <div style="display: block;">
                    <canvas baseChart width="600" height="400"
                                [datasets]="lineChart2Data"
                                [labels]="lineChart2Labels"
                                [options]="lineChart2Options"
                                [colors]="lineChart2Colors"
                                [legend]="lineChart2Legend"
                                [chartType]="lineChart2Type"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)" #chart2></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                    <div style="display: block;">
                    <canvas baseChart width="600" height="400"
                                [datasets]="lineChart1Data"
                                [labels]="lineChart1Labels"
                                [options]="lineChart1Options"
                                [colors]="lineChart1Colors"
                                [legend]="lineChart1Legend"
                                [chartType]="lineChart1Type"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)" #chart1></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="row text-center">
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                    <div style="display: block;">
                    <canvas baseChart width="600" height="300"
                                [datasets]="lineChart1Data"
                                [labels]="lineChart1Labels"
                                [options]="lineChart1Options"
                                [colors]="lineChart1Colors"
                                [legend]="lineChart1Legend"
                                [chartType]="lineChart1Type"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)" #chart1></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                    <div style="display: block;">
                    <canvas baseChart width="600" height="300"
                                [datasets]="lineChart1Data"
                                [labels]="lineChart1Labels"
                                [options]="lineChart1Options"
                                [colors]="lineChart1Colors"
                                [legend]="lineChart1Legend"
                                [chartType]="lineChart1Type"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)" #chart1></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>